<%= erb :_errors %>

<form method="POST" action="/questions/<%= @question.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div class="question_title">
    <h3>Title</h3>
    <input size="75" id="title" placeholder="What's your programming question? Be specific." name="question[title]" type="text" value="<%= @question.try(:title) %>">
  </div>

  <div class="question_body">
    <textarea name="question[question_body]" cols=74 rows=8><%= @question.question_body %></textarea>
  </div>

  <div class="question_tags">
    <h3>Tags</h3>
    <input size="75" id="tags" placeholder="at least one tag such as (vb.net wordpress c++), max 5 tags" name="tag[name]" type="text" value="<%= @question.split_tags %>">
  </div>

  <input type="submit" class="button" value="Save Edits">
  <a href='/questions/<%= @question.id %>'>cancel</a>
</form>

