<header class='ask-parent medium-12 rows'>
  <% if logged_in?  %>
    <h2>Questions</h2>
    <a id='ask_question' class="success button" href='/questions/new'>Ask Question</a>
  <% else %>
    <h4>Please login or create a user</h2>
  <% end %>
</header>

<div class='question-container'>
  <% @all_questions.each do |question| %>
  <% @question = question %>
   <%= erb :_question_summary, locals: {question: @question}, layout: false %>
  <% end %>
</div>

