<%= erb :_errors %>
<article id='question-form'>
  <form id="new_question_form" method="POST" action="/questions">
    <div class="question_title">
      <h3>Title</h3>
      <input size="75" id="title" placeholder="What's your programming question? Be specific." name="question[title]" type="text" value="<%= @question.try(:title) %>">
    </div>

    <div class="question_body">
      <textarea name="question[question_body]" cols=74 rows=8></textarea>
    </div>

    <div class="question_tags">
      <h3>Tags</h3>
      <input size="75" id="tags" placeholder="at least one tag such as (vb.net wordpress c++), max 5 tags" name="tag[name]" type="text" value="<%= @tag.try(:name) %>">
    </div>

    <input type="submit" class="button" value="Post Your Question">
  </form>
</article>
