<%= erb :_errors %>

<h1>Please Log In</h1>
<form action="/login" method="POST">
  <div>
    <input type="text" name="user[username]" placeholder="username">
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="password">
  </div>
  <div>
    <input type="submit" value="Log in">
  </div>
</form>