<form action="/questions/<%= params[:captures][0] %>/comments/<%= params[:id] %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="comment_text">Comment</label>
  <textarea name="comment_text" placeholder="<%= @comment.try(:comment_body) %>"></textarea>
  <input type="submit" class="button" value="Submit">
</form>
