<% @comments.each do |comment| %>
  <article class="comment callout clearfix answer-to-question" id="<%=comment.id%>">
    <% if comment.best_answer == true %>
      <%= erb :'/_best_answer', layout: false %>
    <% else %>
    <div class='float-right'>
      <% if logged_in? && current_user.id == @question.user_id%>
        <a href='/questions/<%= comment.commentable_id %>/comments/<%= comment.id %>/best' class="best-button tiny success button">Best</a>
      <% end %>
    </div>
    <% end %>
    <div class='float-left'>
      <div class='comment-vote'>
        <a class='tiny success button upvote-button' href='/questions/<%= comment.commentable_id %>/comments/<%= comment.id %>/upvote'>^</a>
      </div>
      <div class='comment_vote_count'>
        <%= comment.vote_count %>
      </div>
      <div class='comment-vote'>
        <a class='tiny alert button downvote-button' href='/questions/<%= comment.commentable_id %>/comments/<%= comment.id %>/downvote'>v</a>
      </div>
    </div>
    <div class='float-center middle-comment-section'>
      <div>
        <p class='comment-text'><%= comment.comment_body %></p>
      </div>
      <div class='comment-buttons'>
        <a href="/questions/<%= comment.commentable_id %>/comments/<%= comment.id %>" class="tiny warning button comment_selector">Edit</a>
        <a href="/questions/<%= comment.commentable_id %>/comments/<%= comment.id %>" class="tiny alert button">Delete</a>
        <a href="/questions/<%= comment.commentable_id %>/comments/<%= comment.id %>/comments/new" class="tiny button comment_new">Comment</a>
      </div>
    </div>
  </article>
<% end %>
