<form action="/questions/<%= params[:id] %>/comments" method="post" id="new_answer_form">
  <label for="comment_text">Comment</label>
  <textarea name="comment_text"></textarea>
  <input type="submit" class="button answer_submit" value="Submit">
</form>
