article, header {
  margin: 1em;
  padding: 1em;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
}

.answer_button {
  margin-top: -20px;
}

.middle-comment-section {
  width: 80%;
  margin-bottom: 0;
  margin-left: -10px;
}

.comment-buttons {
  margin: auto;
}

.comment_new {
  margin-bottom: 0px;
}

#question-posting {
  clear: right;
  width: 90%;
  margin-right: 0;
  padding-left: 75px;
}

.specific-question_vote_count {
  text-align: center;
}

.comment_vote_count {
  text-align: center;
}

.question_detailed {
  margin-left: 0;
  margin-right: 0;
}

