  <h1><%= user.username %>'s profile</h1>

  <p><%= user.email %></p>
  <% if user.questions.any? %>
    <h3><%= user.username %>'s quesitons:</h3>
    <ul>
      <% user.questions.each do |question| %>
        <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p><%= user.username %> has not posted any questions :(</p>
  <% end %>
