<%= erb :_errors %>
<article class='edit-sub-form'>
  <form id='edit-user-form' action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <input type="text" name="user[username]" placeholder="username" value="<%= @user.username %>">

    <input type="text" name="user[email]" placeholder="email" value="<%= @user.email %>">

    <input type="submit" value="Edit Your Profile!">
  </form>
</article>