<%= erb :_errors %>
<article>
  <form class="row" action="/users" method="POST">
    <div class='medium-3 rows'>
      <input type="text" name="user[username]" placeholder="username" value="<%= @user.username %>">
    </div>
    <div class='medium-3 rows'>
      <input type="text" name="user[email]" placeholder="email" value="<%= @user.email %>">
    </div>
    <div class='medium-3 rows'>
      <input type="password" name="user[password]" placeholder="password">
    </div>
    <div class='medium-3 rows'>
      <input type="submit" value="Create User!">
    </div>
  </form>
</article>