<article id="user-partial">
  <%= erb :'users/_user', locals: {user: @user}, layout: false %>
</article>
<article>
    <div class='edit-wrapper'>
      <p><a id ='edit-users' href="/users/<%= @user.id %>/edit">Edit Your Profile</a></p>
    </div>
    <div class='delete-wrapper'>
      <form id='delete-user'action="/users/<%= @user.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Your Profile">
      </form>
    </div>
</article>