<% @sub_comments.each do |comment| %>
  <article class="sub_comment">
    <p><%= comment.comment_body %></p>
    <a href="/questions/<%= comment.commentable_id %>/sub_comments/<%= comment.id %>">Edit</a>
    <a href="/questions/<%= comment.commentable_id %>/sub_comments/<%= comment.id %>">Delete</a>
    <a href="/questions/<%= comment.commentable_id %>/sub_comments/<%= comment.id %>/sub_comments/new">Comment</a>
    <a href='/questions/<%= comment.commentable_id %>/sub_comments/<%= comment.id %>/best' class="best-button tiny success button">Best</a>
  </article>
<% end %>
