<% if @errors %>
  <div class="errors-wraper">
    <span>Something went wrong:</span>
    <ul class="errors">
      <% @errors.each do |error| %>
        <li class="error"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
