<article class="medium-12 rows question_summary">
  <div class='question_summary'>
    <h3><a href='/questions/<%= question.id %>'><%= question.title %></a></h3>
    <div class='stats'>
      <div class='stats'>
        <a class='tiny success button upvote-button' href='/questions/<%= question.id %>/upvote'>^</a>
        <a class='tiny alert button downvote-button' href='/questions/<%= question.id %>/downvote'>v</a>
      </div>
      <h4>Vote Total</h4>
      <div class='question_vote_count'><%= question.vote_count %></div>
      <h4>Answers</h4>
      <div class='question_answer_count'><%= question.comments.count %></div>
      <h4>Views</h4>
      <div class='question_view_count'><%= question.view_count %></div>
  </div>
  <div class='user_about'>
    <div>Created On <%= question.created_at.strftime("%B %d, %Y") %></div>
    <div>By: <%= question.user.username %></div>
    <div class='tags'>
      TAGS: <%= question.split_tags %>
    </div>
  </div>
</article>

