<form action="/questions/<%= params[:id] %>/comments" method="post">
  <label for="comment_text">Answer</label>
  <textarea name="comment_text"></textarea>
  <input type="submit" class="button" value="Submit">
</form>
