<article class="question_detailed">
    <div class='float-left'>
      <div>
        <a href='/questions/<%= question.id %>/upvote' class="upvote-button success button">^</a>
      </div>
      <div class='specific-question_vote_count'>
        <%= question.vote_count %>
      </div>
      <div>
        <a href='/questions/<%= question.id %>/downvote' class="downvote-button alert button">v</a>
      </div>
    </div>
  <div id='question-posting'>
    <h1><%= question.title %></h1>
    <%= question.question_body %>
    <p>created on <%= question.created_at.strftime("%B %d, %Y") %></p>
  </div>
  <div class='float-right answer_button'>
    <% if logged_in? && current_user.id == question.user_id%>
      <a href='/questions/<%= question.id %>/edit' class='tiny warning button'>edit</a>
    <% end %>
    <% if logged_in?  %>
      <a href="/questions/<%= question.id %>/comments/new" class="tiny button answer_question">Answer</a>
    <% end %>
  </div>
  <div class="tags">
      <%= @tags %>
  </div>
</article>
