<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Stack Overflow</title>
</head>
<body>
  <nav class="top-bar">
    <h1><a class="top-bar-left" href="/questions">StackOverflow</a></h1>
    <% if logged_in? %>
      <form class="top-bar-right" action="/logout" method="POST">
         <input type="hidden" name="_method" value="delete">
         <input class="secondary button" type="submit" value="Logout">
       </form>
      <a class="top-bar-right button" href="/users/<%= current_user.id %>"><%= current_user.username %>'s Profile</a>
    <% else %>
      <a class="top-bar-right secondary button" href="/login">Login</a>
      <a class="top-bar-right button" href="/users/new">New User</a>
    <% end %>
  </nav>
  <section class="large-8 columns">
    <%= yield %>
  </section>
  <footer class=></footer>
</body>

</html>
